
.background {
  viewport-fill: red;
}


#myLabel {
  fill: azure;
  letter-spacing: 5;
  font-size: 55;
  font-family: System-Bold;
  text-length: 32;
  text-anchor: middle;
  opacity: 0.5; 
  x: 50%;
  y: 14%;
  
}
.label {
  fill: azure;
  font-size: 11;
  font-family: System-Bold;
  text-length: 32;
  opacity: 1.0; 
}

.labelgreen {
  fill: lime;
  font-size: 11;
  font-family: System-Bold;
  text-length: 32;
  opacity: 1.0; 
}

.labelred {
  fill: red;
  font-size: 11;
  font-family: System-Bold;
  text-length: 32;
  opacity: 1.0; 
}


.labelpurple {
  fill: blueviolet;
  letter-spacing: 5;
  font-size: 16;
  font-family: System-Bold;
  text-length: 32;
  opacity: 1.0
}

